header, main, footer{
    background-color: aqua;
    color: black;
}

section{
    margin: 10px 0;
    padding: 50px;
    border: 1px solid black;
}

h2{
    font-size: 30px;
    text-decoration: underline;
}

.destaque{
    font-style: italic;
    background-color: azure;
}

#importante{
    border-top: 10px solid black;
}